body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1c1c1c; /* Darker main background */
    color: #e0e0e0;
    font-size: 14px; /* Slightly smaller font */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding: 10px 20px;
    color: #fff;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    height: 40px;
    margin-right: 10px;
}

header nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav ul li {
    margin: 0 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

.sidebar {
    width: 210px; /* Adjusted width for the sidebar */
    padding: 20px;
    background-color: #2a2a2a; /* Darker center section */
    border-radius: 8px;
    margin-right: 20px;
}

.sidebar h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #fff;
}

.sidebar label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
}

.sidebar input[type="text"],
.sidebar input[type="number"],
.sidebar select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: #333;
    color: #e0e0e0;
}

.sidebar input[type="checkbox"] {
    margin-right: 5px;
}

.sidebar .checkbox-group {
    margin-bottom: 10px;
}

.main-content {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adjusted gap to avoid empty spaces */
}

.card {
    width: calc(30% - 20px); /* Adjusted width for the cards */
    background-color: #2a2a2a; /* Darker center section */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    overflow: hidden;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    height: auto; /* Adjust height for uniformity */
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align text to the top */
}

.card-content h4 {
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 5px 0; /* Reduced bottom margin */
    color: #fff;
}

.card-content p {
    margin: 2px 0; /* Further reduced margin */
    color: #e0e0e0;
}

.card-content .price {
    font-size: 16px;
    font-weight: 700;
    color: #28a745;
}

.card-content .mileage {
    color: #6c757d;
}

.card-content .transmission,
.card-content .color {
    font-weight: 500;
    color: #e0e0e0;
}

.card:hover {
    transform: translateY(-5px);
}

.save-icon {
    display: inline-block;
    float: right;
    font-size: 18px;
    color: #dc3545;
    cursor: pointer;
}
