body {
  margin: 0;
}

header {
  height: 150px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
}

.black-header {
  height: 27.5px;
  background-color: black;
  width: 100%;
  position: relative;
}

.white-header {
  height: calc(100% - 27.5px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  max-height: 100%;
  max-width: 100%;
}

.sign-in-link {
  color: white;
  text-decoration: none;
  line-height: 27.5px;
  padding: 0 20px;
  font-family: Verdana, sans-serif;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(0, -50%);
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Adjust height as needed */
  overflow: hidden; /* Remove scroll */
  margin-top: 50px; /* Add space between header and dropdowns */
}

.search-box {
  display: flex;
  gap: 10px;
}

.search-box input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px; /* Add rounded corners */
  width: 120px; /* Adjust width to match dropdowns */
  height: 36px; /* Match height to dropdowns */
}

.search-box button {
  padding: 10px; /* Match padding to input field */
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px; /* Add rounded corners */
  cursor: pointer;
}

.search-box button:hover {
  background-color: #45a049;
}

/* Dropdown styles */
.dropdowns select {
  border-radius: 5px;
  width: 120px; /* Adjust width as needed */
  height: 36px; /* Adjust height as needed */
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  font-size: inherit; /* Ensure text size remains the same */
  text-align: center; /* Center the text */
  padding: 10px 0; /* Add padding top and bottom */
  margin: 0 5px; /* Adjust margin to create space between dropdowns */
}

.dropdowns select:hover {
  background-color: #ddd;
}